{% extends "base.html" %}

{% block title %}Payment{% endblock %}

{% block content %}

<div class="container-payment">
    <h2>Payment</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="flash-message flash-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <p>Order ID: {{ order[0] }}</p>
    <p>Total Amount: ${{ order[1] }}</p>
    
    <form method="POST" action="/payment">
        <label for="payment_method">Choose a payment method:</label>
        <select id="payment_method" name="payment_method" required>
            <option value="credit_card">Credit Card</option>
            <option value="paypal">PayPal</option>
            <option value="bank_transfer">Bank Transfer</option>
        </select>
        <button type="submit" class="btn">Pay Now</button>
    </form>
    
</div>
{% endblock %}
